<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.template.face">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.FaceHomeActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>

        <activity
            android:name=".ui.activity.GetFaceMarkActivity"
            android:launchMode="singleTask"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>
</manifest>