<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pine.template.login">

    <application
        android:allowBackup="true"
        android:supportsRtl="true">
        <activity
            android:name=".ui.activity.LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
        <activity
            android:name=".ui.activity.RegisterActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateHidden"></activity>
    </application>

</manifest>
